table {
  border: 1px solid cadetblue;
}

tr, td {
  width: 50px;
  height: 50px;
  border: 1px solid cadetblue;
}

.blue {
  background: steelblue;
}

.success {
  background: seagreen;
}

.fail {
  background: orangered;
}

.button {
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
  margin: 20px;
  outline: none;
  width: 70px;
}

.button:focus {
  background: seagreen;
}

.counter {
  display: inline-block;
  margin-left: 50px;
}